{% extends 'base.html' %}
{% block title %}register{% endblock %}
{% block content %}

<body>
	<form action="#" method="post">
		<div class="mb-3 m-4">
			<label for="username">Username</label>
			<input type="username" class="form-control" id="username" name="username" placeholder="Enter username" />
		</div>
		<div class="mb-3 m-4">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" name="password" placeholder="Password" />
		</div>
		<button type="submit" class="btn btn-primary m-4">Create user</button>
	</form>
</body>
{% endblock %}